<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<header class="site-header">
  <nav class="navbar">
    <a href="/" class="{% if page.url == '/' %}active{% endif %}">Home</a>
    <a href="/team/" class="{% if page.url == '/team/' %}active{% endif %}">Team</a>
    <a href="/documents/" class="{% if page.url == '/documents/' %}active{% endif %}">Documents</a>
  </nav>
</header>

{{ content }}

</body>
</html>
